/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 144rem;
  font-family: "Lato", sans-serif;
  padding: 3.2rem;
  font-weight: 400;
  color: #777;
  box-sizing: border-box;
}

@keyframes move-to-right {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes move-to-right-navigation {
  0% {
    transform: translateX(-20rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  70% {
    transform: translateX(8.8rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes move-to-left {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes move-to-top {
  0% {
    transform: translateY(6rem);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.heading--animation,
.heading--animation2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.6rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    rgba(126, 213, 111),
    rgba(40, 180, 133)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s;
}

.heading--animation:hover {
  transform: skewX(-12deg) skewY(-4deg) scale(1.1);
  letter-spacing: 0.2rem;
  text-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
}

.heading--animation2:hover {
  transform: skewX(-14deg) scale(1.1);
  letter-spacing: 0.2rem;
  text-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.2);
}

.btn:link,
.but:visited {
  font-size: 1.4rem;
  display: inline-block;
  padding: 1rem 2rem;
  text-transform: uppercase;
  border-radius: 100px;
  text-decoration: none;
  width: fit-content;
}

.header--btn:link,
.header--btn:visited {
  font-size: 1.6rem;
  letter-spacing: 0.02rem;
  margin-top: 6rem;
  padding: 2rem 4rem;
  position: relative;
  transition: all 0.3s;
  animation: move-to-top 0.4s ease-out 0.5s backwards;
}

.header--btn:hover {
  transform: translateY(-0.8rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.header--btn:active {
  transition: all 0s !important;
  transform: translateY(-0.4rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.header--btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #fff;
  transition: all 0.3s;
}

.header--btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.about--btn:link,
.about--btn:visited {
  position: relative;
  transition: all 0.3s;
}

.about--btn:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.25);
}

.about--btn:active {
  transition: all 0s !important;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.35);
}

.about--btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #28b485;
  transition: all 0.3s;
}

.about--btn:hover::after {
  transform: scaleX(1.34) scaleY(1.8);
  opacity: 0;
}

.white--btn {
  background-color: #fff;
  color: #777;
}

.green--btn {
  color: #fff;
  background-color: #55c57a;
}

li {
  list-style: none;
}
