@media (min-width: 89em) {
  html {
    font-size: 72.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 89em) {
  html {
    font-size: 72%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 88em) {
  html {
    font-size: 71.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 87em) {
  html {
    font-size: 70.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 86em) {
  html {
    font-size: 69.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 85em) {
  html {
    font-size: 68.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 84em) {
  html {
    font-size: 67.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 83em) {
  html {
    font-size: 66.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 82em) {
  html {
    font-size: 65.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 81em) {
  html {
    font-size: 64.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 80em) {
  html {
    font-size: 63.5%;
  }
  .features-head,
  .features-para {
    font-size: 1.44rem;
  }
}
@media (max-width: 79em) {
  html {
    font-size: 62.5%;
  }
}
@media (max-width: 78em) {
  html {
    font-size: 61.5%;
  }
}
@media (max-width: 77em) {
  html {
    font-size: 60.5%;
  }
}
@media (max-width: 76em) {
  html {
    font-size: 59.5%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 58.5%;
  }
}
@media (max-width: 74em) {
  html {
    font-size: 57.5%;
  }
}
@media (max-width: 73em) {
  html {
    font-size: 56.5%;
  }
}
@media (max-width: 72em) {
  html {
    font-size: 55.5%;
  }
}
@media (max-width: 71em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 70em) {
  html {
    font-size: 54.5%;
  }
}
@media (max-width: 69em) {
  html {
    font-size: 54%;
  }
}
@media (max-width: 68em) {
  html {
    font-size: 53.5%;
  }
}
@media (max-width: 67em) {
  html {
    font-size: 53%;
  }
}
@media (max-width: 66em) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 65em) {
  html {
    font-size: 52%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 51.5%;
  }
}
